<h1>Listing rooms</h1>

<table>
  <tbody>
    <% @rooms.each do |room| %>
      <tr>
        <td><%= room.name %></td>
        <td><%= Mapping.where(room: room.id).count %>/<%= room.limit %></td>
        <td><%= link_to t('Show'), room %></td>
        <td><%= button_to t('Enter'), enter_room_path(:id => room.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('New Room'), new_room_path %>
