<div class="page-header">
  <h1>ポーカーの部屋</h1>
</div>

<div class="row">
  <div class="col-md-8">
    <% @rooms.each do |room| %>
    <div class="row">
      <div class="col-md-6">
        <%= room.name %>
      </div>
      <div class="col-md-2">
        <%= Mapping.where(room: room.id).count %>/<%= room.limit %>
      </div>
      <div class="col-md-2">
        <%= button_to t('Show'), room, :method => 'get', :class => 'btn btn-default' %>
      </div>
      <div class="col-md-2">
        <%= button_to t('Enter'), enter_room_path(:id => room.id), :class => 'btn btn-default' %>
      </div>
    </div>
    <br />
    <% end %>
  </div>
  <div class="col-md-4">
    <div class="row">
      <%= button_to t('New Room'), new_room_path, :method => 'get', :class => 'btn btn-default' %>
    </div>
  </div>
</div>
