<h1>Listing rooms</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Limit</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rooms.each do |room| %>
      <tr>
        <td><%= room.name %></td>
        <td><%= Mapping.where(room: room.id).count %>/<%= room.limit %></td>
        <td><%= link_to 'Show', room %></td>
        <td><%= button_to 'Enter', enter_room_path(:id => room.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Room', new_room_path %>
